* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	text-align: center;
	min-height: 100vh;
	background: url("../../public/assets/300507.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	margin: 0 auto;
	margin-top: 10%;
	background: linear-gradient(90deg, #3bd7f3, #68179e 100%);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 430px;
	padding: 20px;
	overflow: hidden;
}

.header {
	text-align: center;
	padding: 20px;
}

.metric-list {
	padding: 15px;
}

.metric-list label {
	position: relative;
	padding: 20px;
	text-align: center;
	font-size: 17px;
}

.metric-list select {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	padding: 4px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

.form {
	padding: 10px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	font-size: larger;
	margin-right: 80%;
}

.form-control input {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	font-size: 15px;
	width: 100%;
	padding: 10px;
}

.form-control i {
	position: absolute;
	top: 43px;
	right: 10px;
	visibility: hidden;
}

.form small {
	font-size: 16px;
	position: relative;
	margin-top: 5px;
	visibility: hidden;
}

.form button {
	background-color: #68179e;
	border: 2px solid #68179e;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	font-size: 16px;
	width: 30%;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}

.form button:active {
	background: #173ad6;
}

.result {
	margin: 0 auto;
	background: linear-gradient(90deg, #36d0e4, #151797 100%);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 350px;
	font-size: large;
	margin-top: 20px;
	padding: 10px;
	overflow: hidden;
}

.result label {
	text-align: center;
}

.result button {
	padding: 8px;
	background: #000000;
	color: #ffffff;
	border-radius: 7px;
	cursor: pointer;
}

.result button:active {
	background: #68179e;
}

.result button::before {
	content: "Copied!";
	position: relative;
	background: #68179e;
	padding: 4px 8px;
	border-radius: 10px;
	font-size: 15px;
	display: none;
}

.copy-text.active button::before {
	display: block;
}

.form-control.success input {
	border-color: #73ff00;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #73ff00;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  color: #ff0000;
  visibility: visible;
}
