* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	margin-top: 50px;
	text-align: center;
	background-image: url("../../public/assets/Background.png");
	background-position: center top;
}

.container {
	margin: 0 auto;
	background: linear-gradient(180deg, #94f33b, #126e21 100%);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 430px;
	padding: 20px;
	overflow: hidden;
}

.page-title {
	color: #ffffff;
}

.currency-list {
  	padding: 15px;
}

.currency-list label{
	font-size: 17px;
}

.currency-list select {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	padding: 4px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

.form {
  	padding: 10px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	font-size: larger;
}

.form-control input {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	font-size: 15px;
	width: 100%;
	padding: 10px;
}

.form-control i {
	position: absolute;
	top: 43px;
	right: 10px;
	visibility: hidden;
}

.form-control small {
	font-size: 16px;
	position: relative;
	margin-top: 5px;
	visibility: hidden;
}

.form button {
	background-color: rgb(0, 162, 255);
	border: 2px solid rgb(130, 205, 248);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	font-size: 16px;
	width: 40%;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}

.form button:active {
	background: #2a17d6;
}

.result {
	margin: 0 auto;
	background: linear-gradient(90deg, #36d0e4, #151797 100%);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 350px;
	font-size: large;
	margin-top: 20px;
	padding: 10px;
	overflow: hidden;
}

.result button {
	padding: 8px;
	background: #000000;
	color: #ffffff;
	border-radius: 7px;
	cursor: pointer;
}

.result button:active {
	background: green;
}

.result button:before {
	content: "Copied!";
	position: relative;
	background: green;
	padding: 4px 8px;
	border-radius: 10px;
	font-size: 15px;
	display: none;
}

.copy-text.active button:before {
	display: block;
}

.form-control.success input {
  	border-color: #2ecc71;
}

.form-control.error input {
  	border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control.error small {
	color: #b13800;
	visibility: visible;
}