.playlist-container
{
    height: 79vh;
    padding-top: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #121212;
}

.playlist-container .playlist
{
    margin: 24px;
}

.playlist-container .playlist #greetings
{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 48px;
}

.playlist-container .offer_scroll-container
{
    max-height: 63vh;
    margin: 24px;
    /* Scroll element on place */
    overflow-y: auto;
}

.playlist-container .offer_items-list
{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    /* margin-bottom: 16px; */
}

.playlist-container .offer_items-list .cards
{
    position: relative;
    width: 220px;
    height: 200px;
    /* Truncante img dimensions */
    overflow: hidden;
    border-radius: 8px;
    background: linear-gradient(to bottom, #7801ff, #509bf5);
}

.playlist-container .offer_items-list .cards:hover
{
    opacity: 0.9;
}

.playlist-container .offer_items-list .cards span
{
    padding: 16px;
    position: absolute;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.playlist-container .offer_items-list .cards img
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    transform: rotate(25deg) translate(18%, -2%);
    transition: all 0.4s ease-in-out;
}

.playlist-container .offer_items-list .cards:hover img
{
    padding: 25px;
}

.offer_scroll-container .more-info
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.offer_scroll-container .more-info thead tr th
{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
}

.offer_scroll-container .more-info thead tr th,
.offer_scroll-container .more-info tbody tr td a
{
    margin-top: 35px;
}

.offer_scroll-container .more-info tbody tr td a
{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    color: #757575;
    font-size: 0.9rem;
    text-decoration: none;
}

.offer_scroll-container .more-info tbody tr td a:hover
{
    text-decoration: underline;
}

.offer_scroll-container span
{
    font-size: 0.8rem;
    color: #757575;
}
